*{
	color: #5E503F;
	font-weight: bold;
}
			
h1{
	text-align: center;
}

body{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.form-container{
	border: 0px solid #fff; 
	padding: 20px 20px; 
	margin-top: 10vh;
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.50);
	background-color:white;
}

.table-sortable tbody tr {
	cursor: move;
}

.box_1{
	margin-top: 20px;
}