#order{
    margin-top: 50px;
}

body{
	background-image: url("../images/OTCP2_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}